#include <windows.h>
#include "smootheverything/engine/resource.h"

#ifndef SE_VERSION_MAJOR
#define SE_VERSION_MAJOR 0
#endif
#ifndef SE_VERSION_MINOR
#define SE_VERSION_MINOR 1
#endif
#ifndef SE_VERSION_PATCH
#define SE_VERSION_PATCH 4
#endif

#define SE_STRINGIFY_IMPL(value) #value
#define SE_STRINGIFY(value) SE_STRINGIFY_IMPL(value)
#define SE_VERSION_TEXT \
    SE_STRINGIFY(SE_VERSION_MAJOR) "." \
    SE_STRINGIFY(SE_VERSION_MINOR) "." \
    SE_STRINGIFY(SE_VERSION_PATCH)

IDI_SMOOTHEVERYTHING ICON "assets/AppIcon.ico"

1 RT_MANIFEST "engine.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SE_VERSION_MAJOR,SE_VERSION_MINOR,SE_VERSION_PATCH,0
 PRODUCTVERSION SE_VERSION_MAJOR,SE_VERSION_MINOR,SE_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "SmoothEverything Project\0"
            VALUE "FileDescription", "SmoothEverything background scroll engine\0"
            VALUE "FileVersion", SE_VERSION_TEXT "\0"
            VALUE "InternalName", "SmoothEverything.Engine\0"
            VALUE "OriginalFilename", "SmoothEverything.Engine.exe\0"
            VALUE "ProductName", "SmoothEverything\0"
            VALUE "ProductVersion", SE_VERSION_TEXT "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
